<div class="animated fadeIn" [ngClass]="{ 'no-action-tools': true }">
    <div class="row">
      <div class="col-md-12">
        <div class="card" #mainUsuarios>
          <form action="" class="form-horizontal" [formGroup]="userForm">
            <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="comentario">Nombre:</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="Nombre"
                        [ngClass]="{
                          'is-valid': userForm.controls.Nombre.valid,
                          'is-invalid':
                            userForm.controls.Nombre.invalid && userForm.controls.Nombre.touched
                        }"
                      />
                      <span
                        *ngIf="userForm.controls.Nombre.invalid && userForm.controls.Nombre.touched"
                        class="help-block text-danger"
                      >
                        Este campo es requerido
                      </span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="comentario">Email:</label>
                        <input
                          type="email"
                          class="form-control"
                          formControlName="Email"
                          [ngClass]="{
                            'is-valid': userForm.controls.Email.valid,
                            'is-invalid':
                              userForm.controls.Email.invalid && userForm.controls.Email.touched
                          }"
                        />
                        <span
                          *ngIf="userForm.controls.Email.invalid && userForm.controls.Email.touched"
                          class="help-block text-danger"
                        >
                          Este campo es requerido
                        </span>
                      </div>

                      <div class="form-group col-md-12" *ngIf="!id">
                        <label for="comentario">Password:</label>
                        <input
                          type="password"
                          class="form-control"
                          formControlName="Password"
                          [ngClass]="{
                            'is-valid': userForm.controls.Password.valid,
                            'is-invalid':
                              userForm.controls.Password.invalid && userForm.controls.Password.touched
                          }"
                        />
                        <span
                          *ngIf="userForm.controls.Password.invalid && userForm.controls.Password.touched"
                          class="help-block text-danger"
                        >
                          Este campo es requerido
                        </span>
                      </div>

                      <div class="form-group col-md-12">
                        <label for="comentario">Perfiles:</label>

                        
                      <select class="custom-select mr-sm-2" id="perfil"  formControlName="Perfil">
                        <option *ngFor="let perfil of perfiles; let i = index" [ngValue]="perfil._id">
                            {{perfil.descripcion}}
                        </option>             
                      </select>
                        <span
                          *ngIf="userForm.controls.Perfil.invalid && userForm.controls.Perfil.touched"
                          class="help-block text-danger"
                        >
                          Este campo es requerido
                        </span>
                      </div>


  

                    <!--<div class="form-group col-md-12 mt-3 pt-3">
                      <label class="col-12 p-0 form-control-label" for="name"
                        >¿Se acordo fecha de compromiso de pago?
                        <div class="float-left">
                          <label class="switch switch-icon switch-pill switch-primary-outline-alt">
                            <input
                              formControlName="SeAcordo"
                              type="checkbox"
                              class="switch-input"
                              name="SeAcordo"
                              [checked]="SeAcordo"
                              (change)="SeAcordo = !SeAcordo"
                            />
                            <span class="switch-label" data-on="&#xf00c;" data-off="&#xf00d;"></span>
                            <span class="switch-handle"></span>
                          </label>
                          <br />
                        </div>
                      </label>
                    </div>-->
                  </div>
            </div>
  
            <div class="card-footer clearfix">
              <div class="group-buttons float-right">
                <button
                  [disabled]="!userForm.valid"
                  class="btn btn-primary"
                  type="button"
                  (click)="saveUser()"
                >
                  <i class="fa fa-save"></i> Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  